<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chronic Kidney Disease Predictor</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
</head>

<body>


  <div class="container">
    <h2 class='container-heading'><span class="heading_font">Chronic Kidney Disease Predictor</span></h2>
    <div class='description'>
      <p>A Web Application that predicits chances of having Chronic Kidney Disease or not, Built with the help of Flask /p><br>
        <p>(Note:This model is 98.33% accurate)</p>
    </div>
  </div>

  <!-- Text Area -->
  <div class="ml-container">
    <form action="{{ url_for('predict')}}" method="POST"> 

      
        <label for="age">Age</label>
        <input type="text" id="age" name="age" placeholder="Your age.."><br>

        <label for="bp">Blood Pressure</label>
        <input type="text" id="bp" name="bp" placeholder="A number in range [50-180] mmHg"><br>

        <label for="sg">Specific Gravity</label>
        <input type="text" id="sg" name="sg" placeholder="A number must be (1.01 , 1.02 , 1.005 , 1.015 ,1.025) "><br>

        <label for="al">Albumin</label>
        <input type="text" id="al" name="al" placeholder="A number in range 0 to 5"><br>

        <label for="su">Sugar</label>
        <input type="text" id="su" name="su" placeholder="A number in range 0 to 5"><br>

        <label for="rbc">Red Blood Cells</label>
        <input type="text" id="rbc" name="rbc" placeholder="Normal-0 , abnormal-1"><br>

        <label for="pc">Puscell</label>
        <input type="text" id="pc" name="pc" placeholder="Normal-0 , abnormal-1"><br>

        <label for="pcc">Puscell Clumps</label>
        <input type="text" id="pcc" name="pcc" placeholder="Not Present-0 , Present-1"><br>

        <label for="ba">Bacteria</label>
        <input type="text" id="ba" name="ba" placeholder="Not Present-0 , Present-1"><br>

        <label for="bgr">Blood Glucose Random</label>
        <input type="text" id="bgr" name="bgr" placeholder="A number in range (22 to 490)"><br>

        <label for="bu">Blood Urea</label>
        <input type="text" id="bu" name="bu" placeholder="A number in range (1.5 to 391)"><br>

        <label for="sc">Serum Creatinine</label>
        <input type="text" id="sc" name="sc" placeholder="A number in range (0.4 to 76)"><br>

        <label for="sod">Sodium</label>
        <input type="text" id="sod" name="sod" placeholder="A number in range (4.5 to 163)"><br>

        <label for="pot">Potassium</label>
        <input type="text" id="pot" name="pot" placeholder="A number in range (2.5 to 47)"><br>

        <label for="hemo">Hemoglobin</label>
        <input type="text" id="hemo" name="hemo" placeholder="A number in range (3.1 to 17.8)"><br>

        <label for="wc">WhiteBloodCell Count</label>
        <input type="text" id="wc" name="wc" placeholder="A number in range (3800 to 21600)"><br>

        <label for="rc">RedBloodCell Count</label>
        <input type="text" id="rc" name="rc" placeholder="A number in range (2.1 to 6.5)"><br>

        <label for="htn">Hypertension</label>
        <input type="text" id="htn" name="htn" placeholder="Yes-1 , No-0"><br>

        <label for="dm">Diabetes Mellitus</label>
        <input type="text" id="dm" name="dm" placeholder="Yes-1 , No-0"><br>

        <label for="cad">Coronary Artery Disease</label>
        <input type="text" id="cad" name="cad" placeholder="Yes-1 , No-0"><br>

        <label for="appet">Appetite</label>
        <input type="text" id="appet" name="appet" placeholder="Good-1 , Poor-0"><br>

        <label for="pe">Pedaledema</label>
        <input type="text" id="pe" name="pe" placeholder="Yes-1 , No-0"><br>

        <label for="ane">Anemia</label>
        <input type="text" id="ane" name="ane" placeholder="Yes-1 , No-0"><br>


      <input type="submit" class="my-cta-button" value="Predict">
    </form>
  </div>

</body>

</html>